<!DOCTYPE html>
<html>
<head>
  <title>OmniauthTutorial</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'omniauth' %>
</head>
<body>

<%= yield %>

</body>
</html>
